.game__container {
    max-width: 80vmin;
    margin: 5% 0;
}
.game-process__header {
    margin-bottom: 20px;
}
.game-process__title {
    font-size: 4rem;
    margin: 0 0 20px;
}
.game-process__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.game-process__player {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.game-process__symbol {
    margin-left: 8px;
}
.game-process__buttons {
    display: flex;
    gap: 8px;
}
.game__button {
    aspect-ratio: 1;
    border-radius: 4px;
    padding: 8px;
}
.game-process__table {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 80vmin;
    border: 1px solid black;
}
.game-process__cell {
    aspect-ratio: 1;
    background: rgba(255, 255, 255, 0.3);
    padding: 0;
    border: 1px solid black;
}
.game-process__cell:hover {
    background: rgba(255, 255, 255, 0.5);
}