/* Base styles */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Lobster', cursive;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Containers styles */

.game {
    min-height: 100vh;
    color: white;
    background: linear-gradient(#615dad, #ffc8da) no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__container {
    text-align: center;
    min-height: 100vh;   
    display: flex;
    flex-direction: column;
}

/* Buttons styles */

.game__button {
    color: white;
    text-decoration: none;
    padding: 16px;
}
.game__button--green {
    background: #1fcca4;
}
.game__button--green:hover,
.game__button--green:focus,
.game__button--green:active {
    background: #1cbb96;
}
.game__button--blue {
    background: #0197f6;
}
.game__button--blue:hover,
.game__button--blue:focus,
.game__button--blue:active {
    background: #0090e9;
}
.game__button:active {
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.2);
}