/* Základní styly */
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#615dad, #ffc8da) no-repeat center;
    margin: 0;
    min-height: 100vh;
    color: white;
  }
  .container {
    max-width: 364px;
    margin: 66px auto;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    text-align: center;
    background: #283e50;   
  }
  h1 {
    font-family: 'Lobster', cursive;
  }
  .game__header {
    display: flex;
    width: 100%;
  }
 .game__banner {
    max-width: 100%;
  }
  main {
    padding: 30px 16px;
  }

  .game__title {
    margin: 0 0 30px;
    font-size: 3rem;
    line-height: 1.2;
  }
  .game__desctiption {
    line-height: 1.5;
    margin: 0;
  }
  .game__footer {
    display: flex;
    flex-wrap: wrap;
  }
  .game__button {
    color: white;
    text-decoration: none;
    padding: 16px;
    flex-basis: 100%;
    border-top: 1px solid black;
  }
  .game__button--rules {
    background: #1fcca4;
  }
  .game__button--rules:hover {
    background: #1cbb96;
  }
  .game__button--start {
    background: #0197f6;
  }
  .game__button--start:hover {
    background: #0090e9;
  }